.navbar {
    background-color: #30606b;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 20;
    position: fixed;
    width: 100%;

    .logo {
        height: 50px;
        margin-top: 5px;
    }
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    margin: 0 20px;
}

.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 50px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 0;
    margin: 0;

    &.active {
        background: #1f5156;
        height: 100vh;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    @media (min-width: 750px) {
        flex-direction: row;
        justify-content: end;
        list-style: none;
        text-align: center;
        position: relative;
        top: unset;
        left: unset;
        border-top: none;
    }
}

.nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;

    @media (min-width: 750px) {
        padding: 6px 20px;
        height: 100%;
        border-bottom: 3px solid transparent;
    }
}

.nav-item {
    line-height: 35px;
    margin-right: 1rem;

    &:after {
        content: "";
        display: block;
        height: 3px;
        width: 0;
        background: transparent;
        transition: width 0.7s ease, background-color 0.5s ease;
        margin-top: -3px;
    }

    &:hover:after {
        width: 100%;
        background: white;
    }

    .active {
        border-bottom: 3px solid white;
    }
}

.nav-icon {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffffff;

    @media (min-width: 750px) {
        display: none;
    }
}