@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
  url("./fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "OpenSansBold";
  src: local("OpenSansBold"),
  url("./fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: local("OpenSansBold"),
  url("./fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: bold;
}

h1,
h2,
h3,
a {
  color: #356C77;
  text-decoration: none;
}

h1 {
  font-family: "OpenSansBold";
}

h2,
h3,
b {
  font-family: "OpenSansSemiBold";
}

.App {
  font-family: "OpenSans";
  text-align: center;
  background-color: aliceblue;
  color: #2e2e2e;
  min-height: 100vh;
  box-sizing: border-box; 
  position: relative;
}

.grid-text_wide {
  max-width: min(648px, calc(100% - (2 * 25px)));
  margin: 0 auto;
}

.instagram-logo {
  width: 40px;
  height: 40px;
}

#imprint,
#portfolio,
#about {
  h2 {
    margin-top: 60px;
  }

  section {
    margin-top: 40px;

    p {
      margin-bottom: 0;
    }

    &.align-left p {
      text-align: justify;
    }
  }
}

#about {
  .introduction {
    display: flex;
    flex-direction: column;
    
    @media (min-width: 750px) {
      &.image-left {
        flex-direction: row;

        .portrait-image {
          margin-right: 40px;
        }
      }
      
      &.image-right {
        flex-direction: row-reverse;
        
        .portrait-image {
          margin-left: 40px;
        }
      }
    }
    
    p {
      text-align: justify;
    }

    .portrait-image {
      width: 250px;
      height: 250px;
      object-fit: cover;
      object-position: right;
      border-radius: 20px;
      box-shadow: 10px 10px 20px -20px #2e2e2e;
    }
  }
}